<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>,
          <%= pluralize(@user.favorites.count, 'favorites') %>
        </small>
      </div>
    </div>
  </div>
</div>
<%if user_has_posts%>
  <h2>Posts</h2>
  <%= render @user.posts %>
<%else%>
  <h4><% @user.name%> has not yet submitted any posts</h3>
<%end%>
<%if user_has_comments%>
  <h2>Comments</h2>
  <%= render @user.comments %>
<%else%>
  <h4><%@user.name%> has not commented on anything</h3>
<%end%>


  <h2>Favorite posts</h2>
<%  @user.favorites.all.each do |fav| %>
  <div class="media">
    <%= image_tag fav.post.user.avatar_url(48), class: 'media-object pull-left'  %>
    <%=render partial: 'votes/voter', locals:{post:fav.post}%>
    <div class="media-body">
      <h4 class="media-heading">
        <%=link_to fav.post.title, topic_post_path(fav.post.topic, fav.post)%>
        <%= render partial: "labels/list", locals: { labels: fav.post.labels } %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(fav.post.created_at) %> ago  <%= fav.post.user.name%><br>
        <%= fav.post.comments.count %> Comments
      </small>
    </div>
  </div>
<% end %>
